CREATE DATABASE WareHouse_Managerment
GO
USE WareHouse_Managerment
GO
/****** Object:  Table [dbo].[Account]    Script Date: 01-Nov-21 9:25:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Account](
	[Account_ID] [varchar](10) NOT NULL,
	[Account_UserName] [varchar](40) NULL,
	[Account_Password] [varchar](20) NULL,
	[Account_DisplayName] [nvarchar](100) NULL,
	[Account_Category_ID] [varchar](10) NULL,
	[Staff_ID] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[Account_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Account_Category]    Script Date: 01-Nov-21 9:25:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Account_Category](
	[Account_Category_ID] [varchar](10) NOT NULL,
	[Account_Category_Name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Account_Category_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Import_Coupon]    Script Date: 01-Nov-21 9:25:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Import_Coupon](
	[Import_Coupon_ID] [varchar](10) NOT NULL,
	[Import_Coupon_Date] [datetime] NULL,
	[Staff_ID] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[Import_Coupon_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Import_Detail]    Script Date: 01-Nov-21 9:25:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Import_Detail](
	[Import_Coupon_ID] [varchar](10) NOT NULL,
	[Supply_ID] [varchar](10) NOT NULL,
	[Import_Detail_Quantity] [int] NULL DEFAULT ((0)),
	[Import_Detail_Price] [money] NULL DEFAULT ((0)),
	[Import_Detail_Note] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Import_Coupon_ID] ASC,
	[Supply_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Output_Coupon]    Script Date: 01-Nov-21 9:25:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Output_Coupon](
	[Output_Coupon_ID] [varchar](10) NOT NULL,
	[Output_Coupon_Date] [datetime] NULL,
	[Output_Coupon_Address] [nvarchar](100) NULL,
	[Staff_ID] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[Output_Coupon_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Output_Detail]    Script Date: 01-Nov-21 9:25:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Output_Detail](
	[Output_Coupon_ID] [varchar](10) NOT NULL,
	[Supply_ID] [varchar](10) NOT NULL,
	[Output_Detail_Quantity] [int] NULL DEFAULT ((0)),
	[Output_Detail_Price] [money] NULL DEFAULT ((0)),
	[Output_Detail_Note] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Output_Coupon_ID] ASC,
	[Supply_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Publisher]    Script Date: 01-Nov-21 9:25:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Publisher](
	[Publisher_ID] [varchar](10) NOT NULL,
	[Publisher_Name] [nvarchar](100) NOT NULL,
	[Publisher_PhoneNumber] [varchar](10) NULL,
	[Publisher_Address] [nvarchar](200) NULL,
	[Publisher_Image] [image] NULL,
PRIMARY KEY CLUSTERED 
(
	[Publisher_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Staff]    Script Date: 01-Nov-21 9:25:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Staff](
	[Staff_ID] [varchar](10) NOT NULL,
	[Staff_Name] [nvarchar](100) NOT NULL,
	[Staff_Address] [nvarchar](200) NULL,
	[Staff_PhoneNumber] [varchar](10) NULL,
	[Staff_Salary] [money] NULL DEFAULT ((0)),
	[Staff_Category_ID] [varchar](10) NULL,
	[Staff_Image] [image] NULL,
PRIMARY KEY CLUSTERED 
(
	[Staff_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Staff_Category]    Script Date: 01-Nov-21 9:25:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Staff_Category](
	[Staff_Category_ID] [varchar](10) NOT NULL,
	[Staff_Catefory_Name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Staff_Category_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Supply]    Script Date: 01-Nov-21 9:25:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Supply](
	[Supply_ID] [varchar](10) NOT NULL,
	[Supply_Name] [nvarchar](100) NOT NULL,
	[Supply_Quantity] [int] NULL DEFAULT ((0)),
	[Supply_Unit] [nvarchar](50) NULL,
	[Supply_Category_ID] [varchar](10) NULL,
	[Publisher_ID] [varchar](10) NULL,
	[Supply_Image] [image] NULL,
PRIMARY KEY CLUSTERED 
(
	[Supply_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Supply_Category]    Script Date: 01-Nov-21 9:25:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Supply_Category](
	[Supply_Category_ID] [varchar](10) NOT NULL,
	[Supply_Category_Name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Supply_Category_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Account] ([Account_ID], [Account_UserName], [Account_Password], [Account_DisplayName], [Account_Category_ID], [Staff_ID]) VALUES (N'a', N'a', N'a', N'a', N'AC03', N'a')
INSERT [dbo].[Account] ([Account_ID], [Account_UserName], [Account_Password], [Account_DisplayName], [Account_Category_ID], [Staff_ID]) VALUES (N'A01', N'President', N'123', N'Nguyễn Tân Tự', N'AC01', N'S01')
INSERT [dbo].[Account] ([Account_ID], [Account_UserName], [Account_Password], [Account_DisplayName], [Account_Category_ID], [Staff_ID]) VALUES (N'A02', N'ManagerOne', N'123', N'Hoàng Nhất Sinh', N'AC02', N'S02')
INSERT [dbo].[Account_Category] ([Account_Category_ID], [Account_Category_Name]) VALUES (N'AC01', N'Giám đốc')
INSERT [dbo].[Account_Category] ([Account_Category_ID], [Account_Category_Name]) VALUES (N'AC02', N'Nhân viên quản lý')
INSERT [dbo].[Account_Category] ([Account_Category_ID], [Account_Category_Name]) VALUES (N'AC03', N'Nhân viên thường')
INSERT [dbo].[Import_Coupon] ([Import_Coupon_ID], [Import_Coupon_Date], [Staff_ID]) VALUES (N'IC01', CAST(N'2019-01-01 00:00:00.000' AS DateTime), N'S01')
INSERT [dbo].[Import_Coupon] ([Import_Coupon_ID], [Import_Coupon_Date], [Staff_ID]) VALUES (N'IC02', CAST(N'2019-03-08 00:00:00.000' AS DateTime), N'S02')
INSERT [dbo].[Import_Coupon] ([Import_Coupon_ID], [Import_Coupon_Date], [Staff_ID]) VALUES (N'IC03', CAST(N'2019-06-10 00:00:00.000' AS DateTime), N'S03')
INSERT [dbo].[Import_Detail] ([Import_Coupon_ID], [Supply_ID], [Import_Detail_Quantity], [Import_Detail_Price], [Import_Detail_Note]) VALUES (N'IC01', N'SP01', 25, 10000000.0000, N'Cẩn thận, hàng dễ vỡ')
INSERT [dbo].[Import_Detail] ([Import_Coupon_ID], [Supply_ID], [Import_Detail_Quantity], [Import_Detail_Price], [Import_Detail_Note]) VALUES (N'IC01', N'SP02', 35, 12000000.0000, N'Cẩn thận, hàng dễ vỡ')
INSERT [dbo].[Import_Detail] ([Import_Coupon_ID], [Supply_ID], [Import_Detail_Quantity], [Import_Detail_Price], [Import_Detail_Note]) VALUES (N'IC01', N'SP03', 30, 8000000.0000, N'Cẩn thận, hàng dễ vỡ')
INSERT [dbo].[Output_Coupon] ([Output_Coupon_ID], [Output_Coupon_Date], [Output_Coupon_Address], [Staff_ID]) VALUES (N'OP01', CAST(N'2019-01-31 00:00:00.000' AS DateTime), N'Bến Tre', N'S01')
INSERT [dbo].[Output_Coupon] ([Output_Coupon_ID], [Output_Coupon_Date], [Output_Coupon_Address], [Staff_ID]) VALUES (N'OP02', CAST(N'2019-04-01 00:00:00.000' AS DateTime), N'Đồng Nai', N'S02')
INSERT [dbo].[Output_Coupon] ([Output_Coupon_ID], [Output_Coupon_Date], [Output_Coupon_Address], [Staff_ID]) VALUES (N'OP03', CAST(N'2019-07-24 00:00:00.000' AS DateTime), N'Thanh Long', N'S03')
INSERT [dbo].[Output_Detail] ([Output_Coupon_ID], [Supply_ID], [Output_Detail_Quantity], [Output_Detail_Price], [Output_Detail_Note]) VALUES (N'OP01', N'SP01', -30, 11000000.0000, N'Cẩn thận, hàng dễ vỡ')
INSERT [dbo].[Output_Detail] ([Output_Coupon_ID], [Supply_ID], [Output_Detail_Quantity], [Output_Detail_Price], [Output_Detail_Note]) VALUES (N'OP01', N'SP02', 5, 13000000.0000, N'Cẩn thận, hàng dễ vỡ')
INSERT [dbo].[Output_Detail] ([Output_Coupon_ID], [Supply_ID], [Output_Detail_Quantity], [Output_Detail_Price], [Output_Detail_Note]) VALUES (N'OP01', N'SP03', 10, 9000000.0000, N'Cẩn thận, hàng dễ vỡ')
INSERT [dbo].[Staff_Category] ([Staff_Category_ID], [Staff_Catefory_Name]) VALUES (N'SC01', N'Giám đốc')
INSERT [dbo].[Staff_Category] ([Staff_Category_ID], [Staff_Catefory_Name]) VALUES (N'SC02', N'Nhân viên quản lý')
INSERT [dbo].[Staff_Category] ([Staff_Category_ID], [Staff_Catefory_Name]) VALUES (N'SC03', N'Nhân viên thường')
INSERT [dbo].[Supply_Category] ([Supply_Category_ID], [Supply_Category_Name]) VALUES (N'a', N'a')
INSERT [dbo].[Supply_Category] ([Supply_Category_ID], [Supply_Category_Name]) VALUES (N'SCD01', N'Tivi')
INSERT [dbo].[Supply_Category] ([Supply_Category_ID], [Supply_Category_Name]) VALUES (N'SCD02', N'Tủ lạnh')
ALTER TABLE [dbo].[Account]  WITH CHECK ADD FOREIGN KEY([Account_Category_ID])
REFERENCES [dbo].[Account_Category] ([Account_Category_ID])
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD FOREIGN KEY([Staff_ID])
REFERENCES [dbo].[Staff] ([Staff_ID])
GO
ALTER TABLE [dbo].[Import_Coupon]  WITH CHECK ADD FOREIGN KEY([Staff_ID])
REFERENCES [dbo].[Staff] ([Staff_ID])
GO
ALTER TABLE [dbo].[Import_Detail]  WITH CHECK ADD FOREIGN KEY([Import_Coupon_ID])
REFERENCES [dbo].[Import_Coupon] ([Import_Coupon_ID])
GO
ALTER TABLE [dbo].[Import_Detail]  WITH CHECK ADD FOREIGN KEY([Supply_ID])
REFERENCES [dbo].[Supply] ([Supply_ID])
GO
ALTER TABLE [dbo].[Output_Coupon]  WITH CHECK ADD FOREIGN KEY([Staff_ID])
REFERENCES [dbo].[Staff] ([Staff_ID])
GO
ALTER TABLE [dbo].[Output_Detail]  WITH CHECK ADD FOREIGN KEY([Output_Coupon_ID])
REFERENCES [dbo].[Output_Coupon] ([Output_Coupon_ID])
GO
ALTER TABLE [dbo].[Output_Detail]  WITH CHECK ADD FOREIGN KEY([Supply_ID])
REFERENCES [dbo].[Supply] ([Supply_ID])
GO
ALTER TABLE [dbo].[Staff]  WITH CHECK ADD FOREIGN KEY([Staff_Category_ID])
REFERENCES [dbo].[Staff_Category] ([Staff_Category_ID])
GO
ALTER TABLE [dbo].[Supply]  WITH CHECK ADD FOREIGN KEY([Publisher_ID])
REFERENCES [dbo].[Publisher] ([Publisher_ID])
GO
ALTER TABLE [dbo].[Supply]  WITH CHECK ADD FOREIGN KEY([Supply_Category_ID])
REFERENCES [dbo].[Supply_Category] ([Supply_Category_ID])
GO
